# Eksik Değerlerin İncelenmesi

In [1]:
import seaborn as sns

In [2]:
planets = sns.load_dataset("planets")

In [3]:
df = planets.copy()

In [4]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
## eksik gözlem var mı?

In [7]:
df.isnull().values.any()

True

In [9]:
## hangi değişkende kaç tane?

In [10]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [11]:
#df["degisken_ismi"].fillna(0, inplace = True)

In [12]:
df["orbital_period"].fillna(0, inplace = True)

In [13]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [14]:
df["mass"].fillna(df.orbital_period.mean(), inplace = True)

In [15]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [ ]:
#tüm değerlere tüm değerlerin ortalaması

In [16]:
df.fillna(df.orbital_period.mean(), inplace = True)

In [17]:
df = planets.copy()

In [18]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [19]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64